{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я - Автор</h1>
<p>
  Тут я размещу некоторую информацию о себе, но навыки верстки страдают...
  Так что картинки, блоки, элементы бустрап добавлю потом!
  Меня зовут Максим, мне 45 лет. Всегда хотел заняться программированием,
  но как-то не складывалось.</p>
<p>  
  И вот пришло время, когда у меня появивлось время!
  Семья поддержала (в т.ч. и финансово) и одобрила мои устремления...
  За что им безгранично благодарен!!!
  Пока я делаю первые шаги и надеюсь на серьезные изменения в моей профессиональной
  жизни...</p>

<h2>  Всем спасибо, что дочитали сей скромный текст до конца </h2>

{% endblock %} 