{% extends 'base.html'%}

{% block title %}Профайл пользователя {{ author.get_full_name }}{% endblock %}
{% block content %}    
<div class="mb-5">
  <h1>Все посты пользователя: {{ author.get_full_name }} </h1>
  <h3>Всего постов: {{ author.posts.count }}</h3>
  {% if user.is_authenticated %}
    {% if author == request.user %}
      <i>... Это Ваша страница с Вашими сообщениями ... Подписка недоступна)))</i> <hr>
    {% else %}
      {% if following %}
        <a
          class="btn btn-lg btn-light"
          href="{% url 'posts:profile_unfollow' author.username %}" role="button"
        >
          Отписаться
        </a>
      {% else %}
          <a
            class="btn btn-lg btn-primary"
            href="{% url 'posts:profile_follow' author.username %}" role="button"
          >
            Подписаться
          </a>
      {% endif %}
    {% endif %}  
  {% else %}
  <i>Подписка доступна только зарегистрированным пользователям!</i>
  <i>Зарегистрируйтесь!</i>
  <hr>
  {% endif %}
<div/>
<article>
  {% for post in page_obj %}
  {% include 'posts/includes/post_list.html' %}
      {% if post.group %}    
      <p><a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a></p>
      {% endif %}       
      {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
</article>  
{% include 'posts/includes/paginator.html' %}
{% endblock %}